/**fonts**/
@import url('https://fonts.googleapis.com/css?family=Roboto');


h1, p, button, input {
	font-family: 'Roboto', sans-seriff;
}


.principal {
  margin-left: 20px;
  padding-bottom: 100px;
  width: inherit;
}

.first {
  margin-top: 160px;
  width: 400px;
  line-height: 20px;
  margin-left: 200px;
  text-align: justify;
}
.second {
  transform: translateY(-190%);
  width: 600px;
  float: right;
  position: absolute;
  right: -40px;
}

input {
  border-top: transparent;
  border-left: transparent;
  border-bottom: 1px solid gray;
  border-right: transparent;
  width: 300px;
}

textarea {
  border-top: transparent;
  border-left: transparent;
  border-bottom: 1px solid gray;
  border-right: transparent;
  width: 300px;
}

.text-center {
  padding: 5px;
  position: absolute;
  left: 48%;
  top: 70%;
}

.img {
	width: 150px;
	height: 150px;
	position: fixed;
	right: 400px;
	top: 5px;
	right: 290px;
}